ExpertusONE/sites/all/modules/core/exp_sp_core/wsdl/batchmonitorservice.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="BatchMonitor" targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd"
	xmlns:expertus="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">


<wsdl:types>

		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd">
			<xsd:include schemaLocation="wsdlschema.xsd"/>
			<xsd:complexType name="batchmonitorRequest">
				<xsd:sequence>
					<xsd:element name="Id" type="xsd:string" />
					<xsd:element name="Type" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="batchmonitorResponse">
				<xsd:sequence>
					<xsd:element name="Id" type="xsd:string" />
					<xsd:element name="Type" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
</wsdl:types>



	<wsdl:message name="BatchMonitorRequest">
		<wsdl:part name="batchmonitorRequest" type="expertus:batchmonitorRequest"/>
	</wsdl:message>
	<wsdl:message name="BatchMonitorResponse">
		<wsdl:part name="BatchMonitorResponse" type="expertus:batchmonitorResponse" />
	</wsdl:message>

	<wsdl:portType name="BatchMonitorServicePort">
		<wsdl:operation name="batchMonitor">
			<wsdl:input name="BatchMonitorReq" message="expertus:BatchMonitorRequest" />
			<wsdl:output name="BatchMonitorRes" message="expertus:BatchMonitorResponse" />
		</wsdl:operation>
	</wsdl:portType>



	<wsdl:binding name="BatchMonitorServiceBinding" type="expertus:BatchMonitorServicePort">
		<soap:binding style="document"  transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="batchMonitor">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use="literal"  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal"  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="BatchMonitorService">
		<wsdl:port name="BatchMonitorServicePort" binding="expertus:BatchMonitorServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>