ExpertusONE/sites/all/modules/core/exp_sp_core/wsdl/picklist.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name='picklist' targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd" 
	xmlns:expertus='https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/'>

	<wsdl:types>
	  <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd">
	 	<xsd:complexType name="PickList">
		    <xsd:sequence>
			 	<xsd:element name='Lists' minOccurs="1" maxOccurs="unbounded">
				 	<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Code" type='xsd:string'/>
							<xsd:element name="Language" type='xsd:string'/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
		    </xsd:sequence>
	 	</xsd:complexType>
	   </xsd:schema>
	 </wsdl:types>

	<wsdl:message name='picklistServiceRequest'>
		 <wsdl:part name="PickList" type="expertus:PickList"/>
	</wsdl:message>
	<wsdl:message name='picklistServiceResponse'>
		<wsdl:part name='PickList' element='xsd:string' />
	</wsdl:message>

	<wsdl:portType name='PicklistServicePortType'>
		<wsdl:operation name='picklist'>
			<wsdl:input name="picklistServiceReq" message='expertus:picklistServiceRequest' />
			<wsdl:output name="picklistServiceRes" message='expertus:picklistServiceResponse' />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name='PicklistServiceBinding' type='expertus:PicklistServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='picklist'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name='PicklistService'>
		<wsdl:port name='PicklistServicePort' binding='expertus:PicklistServiceBinding'>
			<soap:address location='http://localhost/ExpertusONE/sites/all/services/Service.php' />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>