ExpertusONE/sites/all/modules/core/exp_sp_core/wsdl/profileservice.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name='profile' targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd" 
	xmlns:expertus='https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/'>

	<wsdl:types>
	  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd">
	 	 <xsd:include schemaLocation="wsdlschema.xsd"/>
	  </schema>
	 </wsdl:types>
	 

	<wsdl:message name='insertProfileRequest'>
		<wsdl:part name="InsertProfile" type="expertus:insertProfileRequest"/>
	</wsdl:message>
	<wsdl:message name='insertProfileResponse'>
		<wsdl:part name='InsertProfileResponse' element='xsd:string' />
	</wsdl:message>
	<wsdl:message name='getProfileRequest'>
		<wsdl:part name='GetProfile' type='expertus:getProfileRequest' />
	</wsdl:message>

	<wsdl:message name='getProfileResponse'>
		<wsdl:part name='GetProfileResponse' element='xsd:string' />
	</wsdl:message>
	
	<wsdl:message name='renameProfileRequest'>
		<wsdl:part name='RenameProfile' type='expertus:renameProfileRequest' />
	</wsdl:message>
	<wsdl:message name='renameProfileResponse'>
		<wsdl:part name='RenameProfileResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='deleteProfileRequest'>
		<wsdl:part name='DeleteProfile' type='expertus:deleteProfileRequest' />
	</wsdl:message>
	<wsdl:message name='deleteProfileResponse'>
		<wsdl:part name='DeleteProfileResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='getProfileDetsRequest'>
		<wsdl:part name='GetProfileDets' type='expertus:getProfileDetsRequest' />
	</wsdl:message>
	<wsdl:message name='getProfileDetsResponse'>
		<wsdl:part name='GetProfileDetsResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='updateProfileRequest'>
		<wsdl:part name='UpdateProfile' type='expertus:updateProfileRequest' />
	</wsdl:message>
	<wsdl:message name='updateProfileResponse'>
		<wsdl:part name='UpdateProfileResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='getProfileByTypeRequest'>
		<wsdl:part name='getProfileByType' type='expertus:getProfileByTypeRequest' />
	</wsdl:message>
	<wsdl:message name='getProfileByTypeResponse'>
		<wsdl:part name='getProfileByTypeResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='searchProfileRequest'>
		<wsdl:part name='SearchRequest' type='expertus:SearchRequest' />
	</wsdl:message>
	<wsdl:message name='searchProfileResponse'>
		<wsdl:part name='SearchProfileResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='getProfileSubTreeRequest'>
		<wsdl:part name='getProfileSubTree' type='expertus:GetProfileSubTree' />
	</wsdl:message>
	<wsdl:message name='getProfileSubTreeResponse'>
		<wsdl:part name='getProfileSubTreeResponse' element='xsd:string'/>
	</wsdl:message>	 

	<wsdl:message name='saveProfileMappingRequest'>
		<wsdl:part name='saveProfileMapping' type='expertus:SaveProfileMapping' />
	</wsdl:message>
	<wsdl:message name='saveProfileMappingResponse'>
		<wsdl:part name='saveProfileMappingResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='GetProfileCodeRequest'>
		<wsdl:part name='GetProfileCode' type='expertus:GetProfileCodeRequest' />
	</wsdl:message>
	<wsdl:message name='GetProfileCodeResponse'>
		<wsdl:part name='GetProfileCodeRes' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:message name='GetProfileAsyncRequest'>
		<wsdl:part name='GetProfileAsync' type='expertus:GetProfileAsync' />
	</wsdl:message>
	<wsdl:message name='GetProfileAsyncResponse'>
		<wsdl:part name='GetProfileAsyncResponse' element='xsd:string'/>
	</wsdl:message>
	
	<wsdl:portType name='InsertProfileServicePortType'>
		<wsdl:operation name='insertProfileRequest'>
			<wsdl:input name="insertProfileReq" message='expertus:insertProfileRequest' />
			<wsdl:output name="insertProfileRes" message='expertus:insertProfileResponse' />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name='GetProfileServicePortType'>
		<wsdl:operation name='getProfileRequest'>
			<wsdl:input name="getProfileReq" message='expertus:getProfileRequest' />
			<wsdl:output name="getProfileRes" message='expertus:getProfileResponse' />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name='RenameProfileServicePortType'>
		<wsdl:operation name='renameProfile'>
			<wsdl:input name="renameProfileReq" message='expertus:renameProfileRequest' />
			<wsdl:output name="renameProfileRes" message='expertus:renameProfileResponse' />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name='DeleteProfileServicePortType'>
		<wsdl:operation name='deleteProfile'>
			<wsdl:input name="deleteProfileReq" message='expertus:deleteProfileRequest' />
			<wsdl:output name="deleteProfileRes" message='expertus:deleteProfileResponse' />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name='GetProfileDetsServicePortType'>
		<wsdl:operation name='getProfileDets'>
			<wsdl:input name="getProfileDetsReq" message='expertus:getProfileDetsRequest' />
			<wsdl:output name="getProfileDetsRes" message='expertus:getProfileDetsResponse' />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name='UpdateProfileServicePortType'>
		<wsdl:operation name='updateProfile'>
			<wsdl:input name="updateProfileReq" message='expertus:updateProfileRequest' />
			<wsdl:output name="updateProfileRes" message='expertus:updateProfileResponse' />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name='GetProfileByTypeServicePortType'>
		<wsdl:operation name='getProfileByType'>
			<wsdl:input name="getProfileByTypeReq" message='expertus:getProfileByTypeRequest' />
			<wsdl:output name="getProfileByTypeRes" message='expertus:getProfileByTypeResponse' />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name='SearchProfileServicePortType'>
		<wsdl:operation name='searchProfile'>
			<wsdl:input name="searchProfileReq" message='expertus:searchProfileRequest' />
			<wsdl:output name="searchProfileRes" message='expertus:searchProfileResponse' />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name='GetProfileSubTreeServicePortType'>
		<wsdl:operation name='getProfileSubTree'>
			<wsdl:input name="getProfileSubTreeReq" message='expertus:getProfileSubTreeRequest' />
			<wsdl:output name="getProfileSubTreeRes" message='expertus:getProfileSubTreeResponse' />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name='SaveProfileMappingServicePortType'>
		<wsdl:operation name='saveProfileMapping'>
			<wsdl:input name="saveProfileMappingReq" message='expertus:saveProfileMappingRequest' />
			<wsdl:output name="saveProfileMappingRes" message='expertus:saveProfileMappingResponse' />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name='GetProfileAsyncServicePortType'>
		<wsdl:operation name='getProfileAsync'>
			<wsdl:input name="GetProfileAsyncReq" message='expertus:GetProfileAsyncRequest' />
			<wsdl:output name="GetProfileAsyncRes" message='expertus:GetProfileAsyncResponse' />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name='GetProfileCodePortType'>
		<wsdl:operation name='getProfileCode'>
			<wsdl:input name="GetProfileCodeReq" message='expertus:GetProfileCodeRequest' />
			<wsdl:output name="GetProfilecodeResp" message='expertus:GetProfileCodeResponse' />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name='InsertProfileServiceBinding' type='expertus:InsertProfileServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='insertProfileRequest'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name='GetProfileServiceBinding' type='expertus:GetProfileServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='getProfileRequest'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name='DeleteProfileServiceBinding' type='expertus:DeleteProfileServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='deleteProfile'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name='RenameProfileServiceBinding' type='expertus:RenameProfileServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='renameProfile'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name='GetProfileDetsServiceBinding' type='expertus:GetProfileDetsServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='getProfileDets'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name='UpdateProfileServiceBinding' type='expertus:UpdateProfileServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='updateProfile'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name='GetProfileByTypeServiceBinding' type='expertus:GetProfileByTypeServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='getProfileByType'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name='SearchProfileServiceBinding' type='expertus:SearchProfileServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='searchProfile'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>	

	<wsdl:binding name='GetProfileSubTreeServiceBinding' type='expertus:GetProfileSubTreeServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='getProfileSubTree'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>	

	<wsdl:binding name='SaveProfileMappingServiceBinding' type='expertus:SaveProfileMappingServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='saveProfileMapping'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name='GetProfileAsyncServiceBinding' type='expertus:GetProfileAsyncServicePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='getProfileAsync'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
		<wsdl:binding name='GetProfileCodeBinding' type='expertus:GetProfileCodePortType'>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name='getProfileCode'>
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use='literal'  />
			</wsdl:input>
			<wsdl:output>
				<soap:body use='literal'  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	
	<wsdl:service name='ProfileService'>
		<wsdl:port name='InsertProfileServicePort' binding='expertus:InsertProfileServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='GetProfileServicePort' binding='expertus:GetProfileServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='RenameProfileServicePort' binding='expertus:RenameProfileServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='DeleteProfileServicePort' binding='expertus:DeleteProfileServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='GetProfileDetsServicePort' binding='expertus:GetProfileDetsServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='UpdateProfileServicePort' binding='expertus:UpdateProfileServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='GetProfileByTypeServicePort' binding='expertus:GetProfileByTypeServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='SearchProfileServicePort' binding='expertus:SearchProfileServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='GetProfileSubTreeServicePort' binding='expertus:GetProfileSubTreeServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='SaveProfileMappingServicePort' binding='expertus:SaveProfileMappingServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='GetProfileAsyncServicePort' binding='expertus:GetProfileAsyncServiceBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
		<wsdl:port name='GetProfileCodeSrv' binding='expertus:GetProfileCodeBinding'>
			<soap:address location='https://v7299.exphosted.com/sites/all/services/Service.php' />
		</wsdl:port>
	</wsdl:service>


</wsdl:definitions>