ExpertusONE/sites/all/modules/core/exp_sp_core/wsdl/profileconfigservice.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="profileconfig" targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd" 
	xmlns:expertus="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"> 

	<wsdl:types>

	    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd"> 
		<xsd:include schemaLocation="wsdlschema.xsd"/> 
		</schema>
	</wsdl:types>
	<wsdl:message name="GetInitialDataRequest">
		<wsdl:part name="GetInitialData" type="expertus:GetInitialDataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetInitialDataResponse">
		<wsdl:part name="InsertProfileconfigResponse" element="xsd:string" />
	</wsdl:message>

	<wsdl:message name="LoadProfileFieldsRequest">
		<wsdl:part name="LoadProfileFields" type="expertus:LoadProfileFieldsRequest"/>
	</wsdl:message>
	<wsdl:message name="LoadProfileFieldsResponse">
		<wsdl:part name="LoadProfileFieldsResponse" element="xsd:string" />
	</wsdl:message>
	
	<wsdl:message name="SaveDataMapRequest">
		<wsdl:part name="SaveDataMap" type="expertus:SaveDataMapRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveDataMapResponse">
		<wsdl:part name="SaveDataMapResponse" element="xsd:string" />
	</wsdl:message>

	<wsdl:message name="GetScreenDataRequest">
		<wsdl:part name="GetScreenData" type="expertus:GetScreenDataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetScreenDataResponse">
		<wsdl:part name="GetScreenDataResponse" element="xsd:string" />
	</wsdl:message>

	<wsdl:message name="AvailColsRequest">
		<wsdl:part name="AvailCols" type="expertus:LoadProfileFieldsRequest"/>
	</wsdl:message>
	<wsdl:message name="AvailColsResponse">
		<wsdl:part name="AvailColsResponse" element="xsd:string" />
	</wsdl:message>
	
	<wsdl:message name="SaveProfileFieldRequest">
		<wsdl:part name="SaveProfileField" type="expertus:SaveProfileFieldRequest"/>
	</wsdl:message>
	<wsdl:message name="SaveProfileFieldResponse">
		<wsdl:part name="AvailColsResponse" element="xsd:string" />
	</wsdl:message>
	
	<wsdl:message name="LoadProfileFieldRequest">
		<wsdl:part name="LoadProfileField" type="expertus:LoadProfileFieldsRequest"/>
	</wsdl:message>
	<wsdl:message name="LoadProfileFieldResponse">
		<wsdl:part name="LoadProfileFieldResponse" element="xsd:string" />
	</wsdl:message>
	
	<wsdl:message name="DeleteProfileFieldRequest">
		<wsdl:part name="DeleteProfileField" type="expertus:LoadProfileFieldsRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteProfileFieldResponse">
		<wsdl:part name="DeleteProfileFieldResponse" element="xsd:string" />
	</wsdl:message>
	
	

	<wsdl:portType name="GetInitialDataServicePortType">
		<wsdl:operation name="getInitialData">
			<wsdl:input name="GetInitialDataReq" message="expertus:GetInitialDataRequest" />
			<wsdl:output name="GetInitialDataRes" message="expertus:GetInitialDataResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="LoadProfileFieldsServicePortType">
		<wsdl:operation name="loadProfileFields">
			<wsdl:input name="LoadProfileFieldsReq" message="expertus:LoadProfileFieldsRequest" />
			<wsdl:output name="LoadProfileFieldsRes" message="expertus:LoadProfileFieldsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SaveDataMapServicePortType">
		<wsdl:operation name="saveDataMap">
			<wsdl:input name="SaveDataMapReq" message="expertus:SaveDataMapRequest" />
			<wsdl:output name="SaveDataMapRes" message="expertus:SaveDataMapResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="GetScreenDataServicePortType">
		<wsdl:operation name="getScreenData">
			<wsdl:input name="GetScreenDataReq" message="expertus:GetScreenDataRequest" />
			<wsdl:output name="GetScreenDataRes" message="expertus:GetScreenDataResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AvailColsServicePortType">
		<wsdl:operation name="getAvailCols">
			<wsdl:input name="AvailColsReq" message="expertus:AvailColsRequest" />
			<wsdl:output name="AvailColsRes" message="expertus:AvailColsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SaveProfileFieldServicePortType">
		<wsdl:operation name="saveProfileField">
			<wsdl:input name="SaveProfileFieldReq" message="expertus:SaveProfileFieldRequest" />
			<wsdl:output name="SaveProfileFieldRes" message="expertus:SaveProfileFieldResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="LoadProfileFieldServicePortType">
		<wsdl:operation name="loadProfileField">
			<wsdl:input name="LoadProfileFieldReq" message="expertus:LoadProfileFieldRequest" />
			<wsdl:output name="LoadProfileFieldRes" message="expertus:LoadProfileFieldResponse" />
		</wsdl:operation>
	</wsdl:portType>	
	
	<wsdl:portType name="DeleteProfileFieldServicePortType">
		<wsdl:operation name="deleteProfileField">
			<wsdl:input name="DeleteProfileFieldReq" message="expertus:DeleteProfileFieldRequest" />
			<wsdl:output name="DeleteProfileFieldRes" message="expertus:DeleteProfileFieldResponse" />
		</wsdl:operation>
	</wsdl:portType>	
		
	

	<wsdl:binding name="GetInitialDataServiceBinding" type="expertus:GetInitialDataServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getInitialData">
		<soap:operation soapAction="" style="document"/>
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="LoadProfileFieldsServiceBinding" type="expertus:LoadProfileFieldsServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="loadProfileFields">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="SaveDataMapServiceBinding" type="expertus:SaveDataMapServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="saveDataMap">
		<soap:operation  soapAction="" style="document" />
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="GetScreenDataServiceBinding" type="expertus:GetScreenDataServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getScreenData">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="AvailColsServiceBinding" type="expertus:AvailColsServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAvailCols">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="SaveProfileFieldServiceBinding" type="expertus:SaveProfileFieldServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="saveProfileField">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="LoadProfileFieldServiceBinding" type="expertus:LoadProfileFieldServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="loadProfileField">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="DeleteProfileFieldServiceBinding" type="expertus:DeleteProfileFieldServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="deleteProfileField">
		<soap:operation soapAction="" style="document" />
		<wsdl:input>
			<soap:body use='literal'  />
		</wsdl:input>
		<wsdl:output>
			<soap:body use='literal'  />
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	
	<wsdl:service name="ProfileconfigService">
		<wsdl:port name="GetInitialDataServicePort" binding="expertus:GetInitialDataServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
		<wsdl:port name="LoadProfileFieldsServicePort" binding="expertus:LoadProfileFieldsServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
		<wsdl:port name="SaveDataMapServicePort" binding="expertus:SaveDataMapServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
		<wsdl:port name="GetScreenDataServicePort" binding="expertus:GetScreenDataServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
		<wsdl:port name="AvailColsServicePort" binding="expertus:AvailColsServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
		<wsdl:port name="SaveProfileFieldServicePort" binding="expertus:SaveProfileFieldServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
		<wsdl:port name="LoadProfileFieldServicePort" binding="expertus:LoadProfileFieldServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
		<wsdl:port name="DeleteProfileFieldServicePort" binding="expertus:DeleteProfileFieldServiceBinding">
			<soap:address location="https://v7299.exphosted.com/sites/all/services/Service.php" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>