ExpertusONE/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd"
	xmlns:expertus='https://v7299.exphosted.com/sites/all/modules/core/exp_sp_core/wsdl/wsdlschema.xsd'
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' >
	   <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
	   <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
	 
	 <xsd:annotation>
 		<xsd:documentation>
 			SearchRequest:This is the search request XML format for all the searches. 					
 		</xsd:documentation>
 	</xsd:annotation>
 	
 	 <xsd:complexType name="SearchRequest"> 
    	<xsd:sequence> 
    		<xsd:element name='Type' type='xsd:string'/>
			<xsd:element name='SearchKey' minOccurs='0' maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence> 
						<xsd:element name='name' type='xsd:string'/> 
						<xsd:element name='value' type='xsd:string'/> 
						<xsd:element name='searchCallType' type='xsd:string'/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name='AdvSearchOptions'>
				<xsd:complexType>
					<xsd:sequence> 
						<xsd:element name='AdvSearchKey' minOccurs='0' maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence> 
									<xsd:element name='name' type='xsd:string'/> 
									<xsd:element name='value' type='xsd:string'/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name='FaqSearchKey' minOccurs='0' maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence> 
						<xsd:element name='opts' type='xsd:string'/> 
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 		</xsd:sequence>     
	</xsd:complexType>
	
	<xsd:complexType name="FAQSearchOptsRequest"> 
    	<xsd:sequence>   
			<xsd:element name='type' type='xsd:string' minOccurs='0' />
	  	</xsd:sequence>  
	</xsd:complexType>
	
	<xsd:complexType name="AdvancedSearchOptsRequest"> 
    	<xsd:sequence>   
			<xsd:element name='type' type='xsd:string' minOccurs='0' />
	  	</xsd:sequence>  
	</xsd:complexType>
	

	<xsd:complexType name='SearchLocationDetails'>
	 	<xsd:sequence>   
			<xsd:element name='LocationName' type='xsd:string' />
	  	</xsd:sequence>
	 </xsd:complexType>
	 
	<xsd:complexType name="insertProfileRequest">
	    <xsd:sequence>
	    	<xsd:element name='list_id' type='xsd:string' />
			<xsd:element name='parent_id' type='xsd:string' />
			<xsd:element name='level' type='xsd:string' />
			<xsd:element name='name' type='xsd:string' />
			<xsd:element name='root' type='xsd:string' />
			<xsd:element name='description' type='xsd:string' />
			<xsd:element name='code' type='xsd:string' />
			<xsd:element name='language_code' type='xsd:string' />
			<xsd:element name='attr1' type='xsd:string' />
			<xsd:element name='attr2' type='xsd:string' />
			<xsd:element name='attr3' type='xsd:string' />
			<xsd:element name='attr4' type='xsd:string' />
			<xsd:element name='type' type='xsd:string' />
			<xsd:element name='is_active' type='xsd:string' />
	    </xsd:sequence>
	 </xsd:complexType>
	 
	 <xsd:complexType name="getProfileRequest">
	    <xsd:sequence>
			<xsd:element name='dummy' type='xsd:string' />
	    </xsd:sequence>
	 </xsd:complexType>
	
	<xsd:complexType name="contactpersoninfo">
		<xsd:sequence>
			<xsd:element name='Name' minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="ID" type="string" />
							<xsd:attribute name="Email" type="string" />
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	

	 <xsd:complexType name="GetProfileAsync">
	    <xsd:sequence>
			<xsd:element name='id' type='xsd:string' />
			<xsd:element name='level' type='xsd:string' />
			<xsd:element name='root' type='xsd:string' />
	    </xsd:sequence>
	 </xsd:complexType>
	 
	<xsd:annotation>
 		<xsd:documentation>
 			The following schema definitions are used learner calendar services
 			EventType: Short details of the event 
 			EventDetailType: Full/long detail of the event	
 			EntityType: Entity/Event Object details							
 		</xsd:documentation>
 	</xsd:annotation>
 	
 	<xsd:complexType name="EventType">
		<xsd:sequence>						    			
   			<xsd:element name='Name' type='xsd:string' />	 
   			<xsd:element name='Type' type='xsd:string' minOccurs="0" />   			
   			<xsd:element name='StartDateTime' type='xsd:dateTime' minOccurs="0" />
   			<xsd:element name='EndDateTime' type='xsd:dateTime' minOccurs="0" />	    			
   			<xsd:element name='ShortDescription' type='xsd:string' minOccurs="0"/>
			<xsd:element name='CallBackFunction' type='xsd:string' minOccurs="0"/>
			<xsd:element name='TimeZoneID' type='xsd:string' minOccurs="0"/>
			<xsd:element name='TimeZoneName' type='xsd:string' minOccurs="0"/>									    			
   		</xsd:sequence>
   		<xsd:attribute name="ID" type="string" />
   		<xsd:attribute name="Code" type="string" />
   		<xsd:attribute name="Lang" type="string" default="EN"/>		    		
	</xsd:complexType>
	
	<xsd:annotation>
 		<xsd:documentation>
 			The following schema definitions is used to specify the prerequisite details
 			prerequisiteDetails: prerequisite details
 		</xsd:documentation>
 	</xsd:annotation>
	
	<xsd:complexType name="prerequisiteDetails">
		<xsd:sequence>						    			
   			<xsd:element name='Name' type='xsd:string' minOccurs="0"/>
   			<xsd:element name='Type' type='xsd:string' minOccurs="0"/>
   			<xsd:element name='LearnerRegistrationStatus' type='xsd:string' minOccurs="0"/>
   			<xsd:element name='LearnerRegistrationId' type='xsd:string' minOccurs="0"/>
   		</xsd:sequence>
   		<xsd:attribute name="ID" type="string" />
	</xsd:complexType>
	
	<xsd:complexType name="EventDetailType">
		<xsd:sequence>						    			
   			<xsd:element name='Name' type='xsd:string' />	 
   			<xsd:element name='Type' type='xsd:string' minOccurs="0" />   			
   			<xsd:element name='StartDateTime' type='xsd:dateTime' minOccurs="0" />
   			<xsd:element name='EndDateTime' type='xsd:dateTime' minOccurs="0" />	    			
   			<xsd:element name='Description' type='xsd:string' minOccurs="0"/>
			<xsd:element name='CallBackFunction' type='xsd:string' minOccurs="0"/>
			<xsd:element name='TimeZoneID' type='xsd:string' minOccurs="0"/>
			<xsd:element name='TimeZoneName' type='xsd:string' minOccurs="0"/>	
			<xsd:element name='AllDay' type='xsd:boolean' minOccurs="0"/>
			<xsd:element name='EventObjects' minOccurs="0" maxOccurs="unbounded" type='expertus:EntityType' />									    			
   		</xsd:sequence>
   		<xsd:attribute name="ID" type="string" />
   		<xsd:attribute name="Code" type="string" />
   		<xsd:attribute name="Lang" type="string" default="EN"/>		    		
	</xsd:complexType>
	
	<xsd:complexType name="EntityType">
		<xsd:sequence>						    			
			<xsd:element name='ID' type='xsd:string' />
   			<xsd:element name='Name' type='xsd:string' />	 
   			<xsd:element name='Type' type='xsd:string' minOccurs="0" />   			
   			<xsd:element name='Attributes' type='xsd:string' minOccurs="0" />
   		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:annotation>
 		<xsd:documentation>
 			The following schema definitions is used to handle the message header
 			MessageHeaders: Message header elements
 		</xsd:documentation>
 	</xsd:annotation>
 	
	<xsd:complexType name="MessageHeaders">
		<xsd:sequence>
  			<xsd:element name='PortalLicenseKey' type='xsd:string' />
  			<xsd:element name='PortalAuthKey' type='xsd:string' />	    										    			
  		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:annotation>
 		<xsd:documentation>
 			The following schema definitions is used to specify contact details of an entity
 			contectsDetails: details of an entity such as Owner,Coordinator,Proctor and Instructor
 		</xsd:documentation>
 	</xsd:annotation>
 	
	<xsd:complexType name="contectsDetails">
		<xsd:sequence>						    			
   			<xsd:element name="Owner" minOccurs="0" maxOccurs="unbounded">
   				<xsd:complexType>
   					<xsd:sequence>
			   			<xsd:element name='Email' type='xsd:string' minOccurs="0"/>
		   			</xsd:sequence>
		   			<xsd:attribute name="ID" type="string" />
   					<xsd:attribute name="Name" type="string" />
	   			</xsd:complexType>
   			</xsd:element>
   			<xsd:element name="Coordinator" minOccurs="0" maxOccurs="unbounded">
   				<xsd:complexType>
   					<xsd:sequence>
			   			<xsd:element name='Email' type='xsd:string' minOccurs="0"/>
		   			</xsd:sequence>
		   			<xsd:attribute name="ID" type="string" />
   					<xsd:attribute name="Name" type="string" />
	   			</xsd:complexType>
   			</xsd:element>
   			<xsd:element name="Proctor" minOccurs="0" maxOccurs="unbounded">
   				<xsd:complexType>
   					<xsd:sequence>
			   			<xsd:element name='Email' type='xsd:string' minOccurs="0"/>
		   			</xsd:sequence>
		   			<xsd:attribute name="ID" type="string" />
   					<xsd:attribute name="Name" type="string" />
	   			</xsd:complexType>
   			</xsd:element>
   			<xsd:element name="Instructor" minOccurs="0" maxOccurs="unbounded">
   				<xsd:complexType>
   					<xsd:sequence>
			   			<xsd:element name='Email' type='xsd:string' minOccurs="0"/>
		   			</xsd:sequence>
		   			<xsd:attribute name="ID" type="string" />
   					<xsd:attribute name="Name" type="string" />
	   			</xsd:complexType>
   			</xsd:element>
   		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:annotation>
 		<xsd:documentation>
 			The following schema definitions is used to specify code of respective status
 			StatusCode: code of the status
 		</xsd:documentation>
 	</xsd:annotation>
 	
	<xsd:complexType name="StatusCode">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name='Code' type='xsd:string' />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="IDAttrib">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name='ID' type='xsd:string' />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="DeliveryTypeList">
		<xsd:sequence>	
			<xsd:element name='DeliveryType' type='expertus:StatusCode' minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>